dash/target/*
*DS_Store
dash/classes
dash/**/app.js
dash/checkouts
dash/pom.xml
dash/pom.xml.asc
*dash/.jar
dash/*.class
.lein-*
dash/.lein-*
dash/.lein-env
.nrepl-port
dash/resources/public/js
dash/figwheel_server.log
dash/out
.repl
dash/.idea/
.idea/
dash/*.iml
dash/out/
dash/*.ipr
dash/*.iws
